.header1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.logo{
    width: 100%;
    height: 50px;
    display: flex;
}
.logo a img{
    height: 40px;
    width: 70px;
    margin-left: 30px;
}
.header1 .layout-right {
    width: 50%;
    margin-top: 10px;
    font-size: 13px;
    display: flex;

}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .header1 .layout-right {
        float: right;
        font-size: 13px;
        display: flex;

    }
}
@media only screen and (max-width: 739px) {
    .header1 .layout-right {
        margin-left: 30px;
        font-size: 13px;
        display: flex;

    }
}
.header1 .layout-right a{
    text-decoration: none;
    color: white;
}
.header1 .layout-right a:hover{
    color: rgb(104, 104, 104);
}
.header1 .layout-right .element1{
    margin-right: 20px;
    display: flex;
}
@media only screen and (max-width: 739px) {
    .header1 .layout-right .element1 .el-2{
        margin-top: 2px;
    }
}

@media only screen and (max-width: 739px) {
    .header1 .layout-right .element1 button{
        width: 60px;
        margin-left: 5px;
        font-size: 70%;
    }
}
.header1 .layout-right .element2{
    width: 130px;
    margin: 5px;
    font-size: 90%;
}
@media only screen and (max-width: 739px) {
    .header1 .layout-right .element2{
        width: 100px;
        margin: 5px;
        font-size: 70%;
    }
}
.header1 .layout-right .element1 .el-1{
    display: flex;
    width: 175px;
    height: 25px;
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .header1 .layout-right .element1 .el-1{
        display: flex;
        width: 150px;
        height: 25px;
        margin-right: 5px;
        justify-content: right;
    }
}
@media only screen and (max-width: 739px) {
    .header1 .layout-right .element1 .el-1{
        display: flex;
        width: 100px;
        height: 25px;
        margin-left: 40px;
        justify-content: right;
    }
}

.col{
    display: flex;
}
.col .c2{
    width: 185px;
}

.bottom{
    margin-bottom: 20px;
}
.bottom-c1{
    display: inline;
}
.bottom-c1 a{
    text-decoration: none;
    color: black;
}
.bottom-c1 ul{
    list-style: none;
    display: flex;
    float: left;
}

.tail{
    height: 200px;
    background-image: url("../áº£nh/bt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
